[user]
	name = evanhackett
	email = evanwhackett@gmail.com
[credential]
    helper = store
[github]
	user = evanhackett
[color]
    ui = auto
[core]
	editor = nvim
    excludesfile = ~/.gitignore_global
[push]
	default = simple
[alias]
	lg = log --graph --pretty=format:'%C(auto)%h -%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

# git mergetool
[merge]
    tool = vimdiff
    keepBackup = false
