[user]
	name = Evan Hackett
	email = evan@evanhackett.com
[credential]
	helper = store
[github]
	user = evanhackett
[push]
	default = simple
[color]
    ui = auto

[core]
	editor = sublime -n -w
    excludesfile = ~/.gitignore_global
    pager = delta

[delta]
    syntax-theme = Dracula
    line-numbers = true
    

[interactive]
    diffFilter = delta --color-only

[alias]
	lg = log --graph --pretty=format:'%C(auto)%h -%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

# git mergetool
[merge]
    tool = vimdiff
    keepBackup = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
